
table td {
    text-align: left;
    border: 1px solid #888;
    font-size: 0.8rem;
    line-height: 0.7rem;
}

table th {
    text-align: center;
    border: 1px solid #000000;
    font-size: 0.8rem;
    background-color: #7fb393;
    color: black;
    line-height: 0.7rem;
    font-weight: bold;
}

em {
    font-style: italic;
    background-color: #eeeeff;
    color: #555555
}

em code{
    font-style: italic;
    background-color: #eeeeff;
    color: #555555
}

strong {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-style: double;
}