
table td {
    text-align: left;
    border: 1px solid #888;
    font-size: 0.8rem;
    line-height: 0.7rem;
}

table th {
    text-align: center;
    border: 1px solid #000000;
    font-size: 0.85rem;
    background-color: #7fb393;
    color: black;
    line-height: 0.7rem;
    font-weight: bold;
}

em {
    font-style: italic;
    background-color: #eeeeff;
    color: #555555;
    border-radius: 3px;
    padding: 0px 3px;
}

em code{
    font-style: italic;
    background-color: #eeeeff;
    --uno: 'bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-white';
}

strong {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-style: double;
    --uno: 'bg-green-300 dark:bg-green-800';
    border-radius: 3px;
    padding: 0px 3px;
}


strong code{
    font-weight: bolder;
    background-color: #eeeeff;
    color: #555555
}

.note {
    --uno: 'bg-yellow-300 dark:bg-yellow-600 text-black dark:text-white';
    font-size: 0.95rem;
    line-height: 0.77rem;
    padding:2px 20px;
    border-radius: 15px;
}

em strong {
    font-style: italic;
    --uno: 'bg-teal-300 dark:bg-teal-800 text-black dark:text-white';
    border-radius: 3px;
    padding: 0px 3px;
}
