

table td {
    text-align: left;
    border: 1px solid #888;
    font-size: 0.9rem;
    line-height: 0.8rem;
}

table th {
    text-align: center;
    border: 1px solid #000000;
    font-size: 0.85rem;
    background-color: #7fb393;
    color: black;
    line-height: 0.7rem;
    font-weight: bolder !important;
}

em {
    font-style: italic;
    --uno: 'bg-purple-300 dark:bg-purple-800';
    border-radius: 5px;
    padding: 0px 4px;
}

em code{
    font-style: italic;
    --uno: 'bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-white';
}

strong {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-style: double;
    --uno: 'bg-green-300 dark:bg-green-800';
    border-radius: 4px;
    padding: 0px 4px;
}


strong code{
    font-weight: bolder;
    background-color: #eeeeff;
    color: #555555
}

.note {
    --uno: 'bg-yellow-200 dark:bg-yellow-800';
    font-size: 0.95rem;
    line-height: 0.9rem;
    padding:5px 20px;
    --uno: 'font-serif';
    border-radius: 15px;
}

div.note {
    margin: 10px;
}

em strong {
    font-style: italic;
    --uno: 'bg-teal-300 dark:bg-teal-800 text-black dark:text-white';
    border-radius: 3px;
    padding: 0px 3px;
}

.col-left {
    --uno: 'bg-purple-100 dark:bg-purple-900';
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
    font-size: 0.95em;
}

.col-right {
    --uno: 'bg-blue-100 dark:bg-blue-900';
    border-radius: 20px;
    padding: 20px;
    margin-left: 10px;
    font-size: 0.95em;
}

a:link code{
    --uno: 'bg-gray-200 dark:bg-gray-700 text-red-800 dark:text-purplen';
}